<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SettingsConfig" type="BasicAppConfig.AppSettngsLoader, BasicAppConfig" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<SettingsConfig>
		<ConnectionString>Data Source=DevServer;Initial Catalog=NorthWindAzure;Integrated Security=True</ConnectionString>
		<WindowsAuthentication>true</WindowsAuthentication>
	</SettingsConfig>
</configuration>